<body class="login-body">

  <div class="login-form">

    <% provide(:title, "Log in") %>
    <div class="a">
      <h1 >Log in</h1>
    </div>

      <%= form_for(:session, url: login_path) do |f| %>
      <div class='b'>
        <%= f.label :email %>
      </div>
      <div class='c'>
        <%= f.email_field :email %>
      </div>
      <div class='d' >
        <%= f.label :password %>
      </div>
      <div class='e'>
        <%= f.password_field :password %>
      </div>
      <div class="f" >
        <%= f.submit "Log in"%>
      </div>
      <% end %>
      <div class='g'>
        New user? <%= link_to "Sign up now!", signup_path %>
      </div>
  </div>
</body>
