<!DOCTYPE html>
<html>
  <head>
    <title>TheGreenProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
  </head>

  <body>
    <nav>
      <div class="header-container">

        <div class="leaf">
          <%= image_tag("leaf.png", :style => 'width: 100px;') %>
        </div>

        <div class='welcome' >
          <% if logged_in? %>
            <%= form_tag '/session', method: 'delete' do %>
            <input type="hidden" class="id" data-id= <%= current_user.id %> >
            Welcome,
              <span>
                <%= current_user.name %>!
              </span>
            <button class="logout-btn">Logout</button>
            <% end %>
          <% end %>
        </div>

        <div class="home-title">
          <h1 class='title'>How Green Are You?</h1>
        </div>

        <div class="score">
          <a href="/scores/your_scores" class="score-btn">Your Scores!</a>
        </div>

        <div class="team">
          <a href="#" class="team-btn">Your Team Scores!</a>
        </div>

        <div class="home-btn">
          <a href="/home" class="home-btn-style">Home</a>
        </div>
  </nav>
    </div>

    <%= yield %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>
